#cell-container {
  background-color: black;
  width: 701px;
  height: 701px;
}

.cell {
  float: left;
  width: 9px;
  height: 9px;
  margin-top: 1px;
  margin-left: 1px;
}

.state-0 {
  background-color: red;
}

.state-1 {
  background-color: yellow;
}

.state-2 {
  background-color: blue;
}

.state-3 {
  background-color: purple;
}
